.app-c-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  .svg-icon {
    width: 100%;
    height: 100%;

    /* For font-size based icon size */

    /*width: 1em;
    height: 1em;*/
  }
}

.icon-size-sm {
  width: 16px;
  height: 16px;
}

.icon-size-md {
  width: 24px;
  height: 24px;
}

.text-red {
  color: red;
}
